<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520183629776-5pg8p6dl4qatqmj858bhdt6u02fp4f9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520183629776-5pg8p6dl4qatqmj858bhdt6u02fp4f9e</string>
	<key>API_KEY</key>
	<string>AIzaSyACB2otvFXZqXFMWOM3Vjnxfghvl8PIxrI</string>
	<key>GCM_SENDER_ID</key>
	<string>520183629776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arcoDev</string>
	<key>PROJECT_ID</key>
	<string>arco-health</string>
	<key>STORAGE_BUCKET</key>
	<string>arco-health.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520183629776:ios:90f9cbc6b92414b8f79bd5</string>
</dict>
</plist>